Attendance 2021-2023

In [1]:
#import libraries
import pandas as pd
import numpy as np

Import csv files

In [2]:
attendance_2021 = pd.read_csv(r'raw_files\attendance\2021_attendance.csv')
attendance_2022 = pd.read_csv(r'raw_files\attendance\2022_attendance.csv')
attendance_2023 = pd.read_csv(r'raw_files\attendance\2023_attendance.csv')

Clean Data 2021 Attendance Data

In [3]:
#check 2021 attendance doc
attendance_2021.head()

,RK,TEAM,GMS,TOTAL,AVG,PCT,GMS.1,AVG,PCT,GMS.2,AVG.1,PCT.1
0,1,LA Dodgers,81,"2,804,693","34,625",0,81,"25,163",0,162,"29,894",0
1,2,Atlanta,78,"2,300,247","29,490",0,78,"17,968",0,156,"23,729",0
2,3,San Diego,81,"2,191,950","27,061",0,79,"22,140",0,160,"24,631",0
3,4,St. Louis,80,"2,102,530","26,281",0,81,"20,518",0,161,"23,382",0
4,5,Texas,81,"2,110,258","26,052",0,80,"14,444",0,161,"20,284",0

In [4]:
#add year to DF
attendance_2021['Year'] = 2021

#move year to first column
year_21 = attendance_2021.pop('Year')
attendance_2021.insert(1, 'Year', year_21)

In [5]:
#drop uneeded columns
attendance_2021 = attendance_2021.drop(attendance_2021.columns[6:], axis=1)
attendance_2021 = attendance_2021.drop(attendance_2021.columns[0], axis=1)
attendance_2021 = attendance_2021.drop(attendance_2021.columns[2], axis=1)

In [6]:
#rename columns to match rest of dataframes
attendance_2021.rename(columns={'TEAM': 'Team', 'TOTAL': 'Attendance', 'AVG': 'Avg Att'}, inplace=True)

#drop uneeded characters from attendance and make as interger
attendance_2021['Attendance'] = attendance_2021['Attendance'].str.replace(',', '')
attendance_2021['Attendance'] = attendance_2021['Attendance'].astype(int)
attendance_2021['Avg Att'] = attendance_2021['Avg Att'].str.replace(',', '')
attendance_2021['Avg Att'] = attendance_2021['Avg Att'].astype(int)

In [7]:
attendance_2021.loc[attendance_2021['Team'] == 'Arizona', 'Team'] = 'Arizona Diamondbacks'
attendance_2021.loc[attendance_2021['Team'] == 'Atlanta', 'Team'] = 'Atlanta Braves'
attendance_2021.loc[attendance_2021['Team'] == 'Baltimore', 'Team'] = 'Baltimore Orioles'
attendance_2021.loc[attendance_2021['Team'] == 'Boston', 'Team'] = 'Boston Red Sox'
attendance_2021.loc[attendance_2021['Team'] == 'Chicago Cubs', 'Team'] = 'Chicago Cubs'
attendance_2021.loc[attendance_2021['Team'] == 'Chicago White Sox', 'Team'] = 'Chicago White Sox'
attendance_2021.loc[attendance_2021['Team'] == 'Cincinnati', 'Team'] = 'Cincinnati Reds'
attendance_2021.loc[attendance_2021['Team'] == 'Cleveland', 'Team'] = 'Cleveland Guardians'
attendance_2021.loc[attendance_2021['Team'] == 'Colorado', 'Team'] = 'Colorado Rockies'
attendance_2021.loc[attendance_2021['Team'] == 'Detroit', 'Team'] = 'Detroit Tigers'
attendance_2021.loc[attendance_2021['Team'] == 'Houston', 'Team'] = 'Houston Astros'
attendance_2021.loc[attendance_2021['Team'] == 'Kansas City', 'Team'] = 'Kansas City Royals'
attendance_2021.loc[attendance_2021['Team'] == 'LA Angels', 'Team'] = 'Los Angeles Angels'
attendance_2021.loc[attendance_2021['Team'] == 'LA Dodgers', 'Team'] = 'Los Angeles Dodgers'
attendance_2021.loc[attendance_2021['Team'] == 'Miami', 'Team'] = 'Miami Marlins'
attendance_2021.loc[attendance_2021['Team'] == 'Milwaukee', 'Team'] = 'Milwaukee Brewers'
attendance_2021.loc[attendance_2021['Team'] == 'Minnesota', 'Team'] = 'Minnesota Twins'
attendance_2021.loc[attendance_2021['Team'] == 'NY Mets', 'Team'] = 'New York Mets'
attendance_2021.loc[attendance_2021['Team'] == 'NY Yankees', 'Team'] = 'New York Yankees'
attendance_2021.loc[attendance_2021['Team'] == 'Oakland', 'Team'] = 'Oakland Athletics'
attendance_2021.loc[attendance_2021['Team'] == 'Philadelphia', 'Team'] = 'Philadelphia Phillies'
attendance_2021.loc[attendance_2021['Team'] == 'Pittsburgh', 'Team'] = 'Pittsburgh Pirates'
attendance_2021.loc[attendance_2021['Team'] == 'San Diego', 'Team'] = 'San Diego Padres'
attendance_2021.loc[attendance_2021['Team'] == 'San Francisco', 'Team'] = 'San Francisco Giants'
attendance_2021.loc[attendance_2021['Team'] == 'Seattle', 'Team'] = 'Seattle Mariners'
attendance_2021.loc[attendance_2021['Team'] == 'St. Louis', 'Team'] = 'St. Louis Cardinals'
attendance_2021.loc[attendance_2021['Team'] == 'Tampa Bay', 'Team'] = 'Tampa Bay Rays'
attendance_2021.loc[attendance_2021['Team'] == 'Texas', 'Team'] = 'Texas Rangers'
attendance_2021.loc[attendance_2021['Team'] == 'Toronto', 'Team'] = 'Toronto Blue Jays'
attendance_2021.loc[attendance_2021['Team'] == 'Washington', 'Team'] = 'Washington Nationals'

attendance_2021.head()

   Year                 Team  Attendance  Avg Att
0  2021  Los Angeles Dodgers     2804693    34625
1  2021       Atlanta Braves     2300247    29490
2  2021     San Diego Padres     2191950    27061
3  2021  St. Louis Cardinals     2102530    26281
4  2021        Texas Rangers     2110258    26052

Clean attendance 2022 data

In [8]:
#check 2022 attendance doc
attendance_2022.head()

,RK,TEAM,GMS,TOTAL,AVG,PCT,GMS.1,AVG,PCT,GMS.2,AVG.1,PCT.1
0,1,LA Dodgers,81,"3,861,408","47,671",0,81,"31,104",0,162,"39,388",0
1,2,St. Louis,81,"3,320,551","40,994",0,80,"27,895",0,161,"34,485",0
2,3,NY Yankees,78,"3,136,207","40,207",0,81,"30,418",0,159,"35,220",0
3,4,Atlanta,81,"3,129,931","38,641",0,80,"28,216",0,161,"33,461",0
4,5,San Diego,81,"2,991,470","36,931",0,80,"29,754",0,161,"33,365",0

In [9]:
#add year to DF
attendance_2022['Year'] = 2022

#move year to first column
year_22 = attendance_2022.pop('Year')
attendance_2022.insert(1, 'Year', year_22)

In [10]:
#drop uneeded columns
attendance_2022 = attendance_2022.drop(attendance_2022.columns[6:], axis=1)
attendance_2022 = attendance_2022.drop(attendance_2022.columns[0], axis=1)
attendance_2022 = attendance_2022.drop(attendance_2022.columns[2], axis=1)

In [11]:
#rename columns to match rest of dataframes
attendance_2022.rename(columns={'TEAM': 'Team', 'TOTAL': 'Attendance', 'AVG': 'Avg Att'}, inplace=True)

#drop uneeded characters from attendance and make as interger
attendance_2022['Attendance'] = attendance_2022['Attendance'].str.replace(',', '')
attendance_2022['Attendance'] = attendance_2022['Attendance'].astype(int)
attendance_2022['Avg Att'] = attendance_2022['Avg Att'].str.replace(',', '')
attendance_2022['Avg Att'] = attendance_2022['Avg Att'].astype(int)

In [12]:
#rename teams to match
attendance_2022.loc[attendance_2022['Team'] == 'Arizona', 'Team'] = 'Arizona Diamondbacks'
attendance_2022.loc[attendance_2022['Team'] == 'Atlanta', 'Team'] = 'Atlanta Braves'
attendance_2022.loc[attendance_2022['Team'] == 'Baltimore', 'Team'] = 'Baltimore Orioles'
attendance_2022.loc[attendance_2022['Team'] == 'Boston', 'Team'] = 'Boston Red Sox'
attendance_2022.loc[attendance_2022['Team'] == 'Chicago Cubs', 'Team'] = 'Chicago Cubs'
attendance_2022.loc[attendance_2022['Team'] == 'Chicago White Sox', 'Team'] = 'Chicago White Sox'
attendance_2022.loc[attendance_2022['Team'] == 'Cincinnati', 'Team'] = 'Cincinnati Reds'
attendance_2022.loc[attendance_2022['Team'] == 'Cleveland', 'Team'] = 'Cleveland Guardians'
attendance_2022.loc[attendance_2022['Team'] == 'Colorado', 'Team'] = 'Colorado Rockies'
attendance_2022.loc[attendance_2022['Team'] == 'Detroit', 'Team'] = 'Detroit Tigers'
attendance_2022.loc[attendance_2022['Team'] == 'Houston', 'Team'] = 'Houston Astros'
attendance_2022.loc[attendance_2022['Team'] == 'Kansas City', 'Team'] = 'Kansas City Royals'
attendance_2022.loc[attendance_2022['Team'] == 'LA Angels', 'Team'] = 'Los Angeles Angels'
attendance_2022.loc[attendance_2022['Team'] == 'LA Dodgers', 'Team'] = 'Los Angeles Dodgers'
attendance_2022.loc[attendance_2022['Team'] == 'Miami', 'Team'] = 'Miami Marlins'
attendance_2022.loc[attendance_2022['Team'] == 'Milwaukee', 'Team'] = 'Milwaukee Brewers'
attendance_2022.loc[attendance_2022['Team'] == 'Minnesota', 'Team'] = 'Minnesota Twins'
attendance_2022.loc[attendance_2022['Team'] == 'NY Mets', 'Team'] = 'New York Mets'
attendance_2022.loc[attendance_2022['Team'] == 'NY Yankees', 'Team'] = 'New York Yankees'
attendance_2022.loc[attendance_2022['Team'] == 'Oakland', 'Team'] = 'Oakland Athletics'
attendance_2022.loc[attendance_2022['Team'] == 'Philadelphia', 'Team'] = 'Philadelphia Phillies'
attendance_2022.loc[attendance_2022['Team'] == 'Pittsburgh', 'Team'] = 'Pittsburgh Pirates'
attendance_2022.loc[attendance_2022['Team'] == 'San Diego', 'Team'] = 'San Diego Padres'
attendance_2022.loc[attendance_2022['Team'] == 'San Francisco', 'Team'] = 'San Francisco Giants'
attendance_2022.loc[attendance_2022['Team'] == 'Seattle', 'Team'] = 'Seattle Mariners'
attendance_2022.loc[attendance_2022['Team'] == 'St. Louis', 'Team'] = 'St. Louis Cardinals'
attendance_2022.loc[attendance_2022['Team'] == 'Tampa Bay', 'Team'] = 'Tampa Bay Rays'
attendance_2022.loc[attendance_2022['Team'] == 'Texas', 'Team'] = 'Texas Rangers'
attendance_2022.loc[attendance_2022['Team'] == 'Toronto', 'Team'] = 'Toronto Blue Jays'
attendance_2022.loc[attendance_2022['Team'] == 'Washington', 'Team'] = 'Washington Nationals'

attendance_2022.head(31)

    Year                   Team  Attendance  Avg Att
0   2022    Los Angeles Dodgers     3861408    47671
1   2022    St. Louis Cardinals     3320551    40994
2   2022       New York Yankees     3136207    40207
3   2022         Atlanta Braves     3129931    38641
4   2022       San Diego Padres     2991470    36931
5   2022          New York Mets     2564737    33308
6   2022         Houston Astros     2688998    33197
7   2022      Toronto Blue Jays     2653830    32763
8   2022       Colorado Rockies     2597428    32467
9   2022         Boston Red Sox     2625089    32408
10  2022           Chicago Cubs     2616780    32305
11  2022   San Francisco Giants     2482686    30650
12  2022     Los Angeles Angels     2457461    30339
13  2022      Milwaukee Brewers     2412420    30155
14  2022       Seattle Mariners     2287267    28590
15  2022  Philadelphia Phillies     2276736    28459
16  2022   Washington Nationals     2026401    25017
17  2022          Texas Rangers     2011381    24831
18  2022      Chicago White Sox     1976344    24704
19  2022        Minnesota Twins     1801128    22514
20  2022   Arizona Diamondbacks     1605199    19817
21  2022         Detroit Tigers     1551149    19634
22  2022      Baltimore Orioles     1368367    17543
23  2022        Cincinnati Reds     1395770    17447
24  2022    Cleveland Guardians     1295869    17050
25  2022     Kansas City Royals     1277986    15974
26  2022     Pittsburgh Pirates     1257458    15524
27  2022         Tampa Bay Rays     1128127    13927
28  2022          Miami Marlins      907487    11203
29  2022      Oakland Athletics      787902     9973

Clean 2023 Attendance Data

In [13]:
#check 2023 attendance doc
attendance_2023.head()

,RK,TEAM,GMS,TOTAL,AVG,PCT,GMS.1,AVG,PCT,GMS.2,AVG.1,PCT.1
0,1,LA Dodgers,81,"3,837,079","47,371",0,80,"32,291",0,161,"39,878",0
1,2,NY Yankees,80,"3,269,016","40,862",0,81,"32,573",0,161,"36,692",0
2,3,San Diego,81,"3,271,554","40,389",0,81,"31,552",0,162,"35,970",0
3,4,St. Louis,81,"3,241,091","40,013",0,81,"28,138",0,162,"34,076",0
4,5,Atlanta,81,"3,191,505","39,401",0,79,"29,991",0,160,"34,755",0

In [14]:
#add year to DF
attendance_2023['Year'] = 2023

#move year to first column
year_23 = attendance_2023.pop('Year')
attendance_2023.insert(1, 'Year', year_23)

In [15]:
#drop uneeded columns
attendance_2023 = attendance_2023.drop(attendance_2023.columns[6:], axis=1)
attendance_2023 = attendance_2023.drop(attendance_2023.columns[0], axis=1)
attendance_2023 = attendance_2023.drop(attendance_2023.columns[2], axis=1)

In [16]:
#rename columns to match rest of dataframes
attendance_2023.rename(columns={'TEAM': 'Team', 'TOTAL': 'Attendance', 'AVG': 'Avg Att'}, inplace=True)

#drop uneeded characters from attendance and make as interger
attendance_2023['Attendance'] = attendance_2023['Attendance'].str.replace(',', '')
attendance_2023['Attendance'] = attendance_2023['Attendance'].astype(int)
attendance_2023['Avg Att'] = attendance_2023['Avg Att'].str.replace(',', '')
attendance_2023['Avg Att'] = attendance_2023['Avg Att'].astype(int)

In [17]:
#rename teams to match
attendance_2023.loc[attendance_2023['Team'] == 'Arizona', 'Team'] = 'Arizona Diamondbacks'
attendance_2023.loc[attendance_2023['Team'] == 'Atlanta', 'Team'] = 'Atlanta Braves'
attendance_2023.loc[attendance_2023['Team'] == 'Baltimore', 'Team'] = 'Baltimore Orioles'
attendance_2023.loc[attendance_2023['Team'] == 'Boston', 'Team'] = 'Boston Red Sox'
attendance_2023.loc[attendance_2023['Team'] == 'Chicago Cubs', 'Team'] = 'Chicago Cubs'
attendance_2023.loc[attendance_2023['Team'] == 'Chicago White Sox', 'Team'] = 'Chicago White Sox'
attendance_2023.loc[attendance_2023['Team'] == 'Cincinnati', 'Team'] = 'Cincinnati Reds'
attendance_2023.loc[attendance_2023['Team'] == 'Cleveland', 'Team'] = 'Cleveland Guardians'
attendance_2023.loc[attendance_2023['Team'] == 'Colorado', 'Team'] = 'Colorado Rockies'
attendance_2023.loc[attendance_2023['Team'] == 'Detroit', 'Team'] = 'Detroit Tigers'
attendance_2023.loc[attendance_2023['Team'] == 'Houston', 'Team'] = 'Houston Astros'
attendance_2023.loc[attendance_2023['Team'] == 'Kansas City', 'Team'] = 'Kansas City Royals'
attendance_2023.loc[attendance_2023['Team'] == 'LA Angels', 'Team'] = 'Los Angeles Angels'
attendance_2023.loc[attendance_2023['Team'] == 'LA Dodgers', 'Team'] = 'Los Angeles Dodgers'
attendance_2023.loc[attendance_2023['Team'] == 'Miami', 'Team'] = 'Miami Marlins'
attendance_2023.loc[attendance_2023['Team'] == 'Milwaukee', 'Team'] = 'Milwaukee Brewers'
attendance_2023.loc[attendance_2023['Team'] == 'Minnesota', 'Team'] = 'Minnesota Twins'
attendance_2023.loc[attendance_2023['Team'] == 'NY Mets', 'Team'] = 'New York Mets'
attendance_2023.loc[attendance_2023['Team'] == 'NY Yankees', 'Team'] = 'New York Yankees'
attendance_2023.loc[attendance_2023['Team'] == 'Oakland', 'Team'] = 'Oakland Athletics'
attendance_2023.loc[attendance_2023['Team'] == 'Philadelphia', 'Team'] = 'Philadelphia Phillies'
attendance_2023.loc[attendance_2023['Team'] == 'Pittsburgh', 'Team'] = 'Pittsburgh Pirates'
attendance_2023.loc[attendance_2023['Team'] == 'San Diego', 'Team'] = 'San Diego Padres'
attendance_2023.loc[attendance_2023['Team'] == 'San Francisco', 'Team'] = 'San Francisco Giants'
attendance_2023.loc[attendance_2023['Team'] == 'Seattle', 'Team'] = 'Seattle Mariners'
attendance_2023.loc[attendance_2023['Team'] == 'St. Louis', 'Team'] = 'St. Louis Cardinals'
attendance_2023.loc[attendance_2023['Team'] == 'Tampa Bay', 'Team'] = 'Tampa Bay Rays'
attendance_2023.loc[attendance_2023['Team'] == 'Texas', 'Team'] = 'Texas Rangers'
attendance_2023.loc[attendance_2023['Team'] == 'Toronto', 'Team'] = 'Toronto Blue Jays'
attendance_2023.loc[attendance_2023['Team'] == 'Washington', 'Team'] = 'Washington Nationals'

attendance_2023.head(31)

    Year                   Team  Attendance  Avg Att
0   2023    Los Angeles Dodgers     3837079    47371
1   2023       New York Yankees     3269016    40862
2   2023       San Diego Padres     3271554    40389
3   2023    St. Louis Cardinals     3241091    40013
4   2023         Atlanta Braves     3191505    39401
5   2023  Philadelphia Phillies     3052605    38157
6   2023         Houston Astros     3052347    37683
7   2023      Toronto Blue Jays     3021904    37307
8   2023           Chicago Cubs     2775149    34261
9   2023       Seattle Mariners     2690418    33215
10  2023          New York Mets     2573555    32994
11  2023         Boston Red Sox     2672130    32989
12  2023     Los Angeles Angels     2640575    32599
13  2023       Colorado Rockies     2607935    32196
14  2023      Milwaukee Brewers     2551317    31497
15  2023          Texas Rangers     2533062    31272
16  2023   San Francisco Giants     2500153    30866
17  2023        Cincinnati Reds     2038310    25164
18  2023        Minnesota Twins     1974124    24371
19  2023   Arizona Diamondbacks     1961182    24212
20  2023      Baltimore Orioles     1936798    23911
21  2023    Cleveland Guardians     1834068    23513
22  2023   Washington Nationals     1865832    23034
23  2023      Chicago White Sox     1669628    21405
24  2023         Detroit Tigers     1612876    20946
25  2023     Pittsburgh Pirates     1630624    20131
26  2023         Tampa Bay Rays     1440301    17781
27  2023     Kansas City Royals     1307052    16136
28  2023          Miami Marlins     1162819    14355
29  2023      Oakland Athletics      832352    10275

In [18]:
total_attendance = pd.concat([attendance_2021, attendance_2022, attendance_2023], ignore_index=True)

total_attendance

    Year                 Team  Attendance  Avg Att
0   2021  Los Angeles Dodgers     2804693    34625
1   2021       Atlanta Braves     2300247    29490
2   2021     San Diego Padres     2191950    27061
3   2021  St. Louis Cardinals     2102530    26281
4   2021        Texas Rangers     2110258    26052
..   ...                  ...         ...      ...
85  2023   Pittsburgh Pirates     1630624    20131
86  2023       Tampa Bay Rays     1440301    17781
87  2023   Kansas City Royals     1307052    16136
88  2023        Miami Marlins     1162819    14355
89  2023    Oakland Athletics      832352    10275

[90 rows x 4 columns]

In [19]:
#write to csv
total_attendance.to_csv(r'cleansed_data\total_attendance.csv', index=None, header=True)